local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

amazon:
  service: S3
  access_key_id: <%=ENV['AWS-ACCESS-KEY']%>
  secret_access_key: <%=ENV['AWS-SECRET-ACCESS']%>
  region: us-east-2
  bucket: <%=ENV['AWS-BUCKET']%>