body * {
  visibility: hidden;
}

.row-print * {
  visibility: visible;
}

.row-print2 * {
  visibility: visible;
}

.no-print{
  display: none;
}
.row-print{
  display: block;
}

.info{
  display: block;
  //float:left;
  text-align: center;
  margin-left: 0;
}

.tabletitle{
  font-size: 1em;
  background: #EEE;
}

.item{width: 24mm;}
.itemtext{font-size: 1em;}

#legalcopy{
  margin-top: 5mm;
  text-align: center;
}  